body {
    font: 12px arial;
    behavior: url(csshover.htc);
}

* html {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

body,
p,
form,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
menu {
    display: block
}
