body {
    padding: 0;
    margin: 0;
}

* {
    padding: 0;
    margin: 0;
}

.box {
    margin: 0 auto;
    background-color: #fff;
    position: relative;
    height: 480px;
    width: 320px;
    text-align: center;
    overflow: hidden;
}

.state {
    width: 100%;
    text-align: center;
}

.state div {
    position: absolute;
}


/*头部1*/

.head1 {
    width: 180px;
    height: 200px;
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(53, 53, 53, 1);
    top: 94px;
    left: 70px;
    z-index: 3
}


/*头部2*/

.head2 {
    width: 160px;
    height: 160px;
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(53, 53, 53, 1);
    top: 160px;
    left: 80px;
    z-index: 3
}


/*整体头部*/

.headear {
    width: 174px;
    height: 364px;
    border-top: 1px solid rgba(1, 14, 13, 1);
    border-right: 1px solid rgba(1, 14, 13, 1);
    border-bottom: 1px solid rgba(1, 14, 13, 1);
    border-left: 1px solid rgba(1, 14, 13, 1);
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(53, 53, 53, 1);
    top: 0;
    left: 72px;
    z-index: 1
}


/*脸部分的白块*/

.white_square {
    width: 186px;
    height: 200px;
    top: 166px;
    left: 70px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 1);
}


/*头部分的白块*/

.headear_radius {
    width: 127px;
    height: 189px;
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    left: 97px;
    z-index: 2
}


/*脸*/

.face {
    width: 143px;
    height: 102px;
    background-color: rgba(239, 207, 157, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-top-right-radius: 20px;
    -webkit-border-bottom-right-radius: 100px;
    -webkit-border-bottom-left-radius: 100px;
    -moz-border-top-left-radius: 20px;
    -moz-border-top-right-radius: 20px;
    -moz-border-bottom-right-radius: 100px;
    -moz-border-bottom-left-radius: 100px;
    -ms-border-top-left-radius: 20px;
    -ms-border-top-right-radius: 20px;
    -ms-border-bottom-right-radius: 100px;
    -ms-border-bottom-left-radius: 100px;
    -o-border-top-left-radius: 20px;
    -o-border-top-right-radius: 20px;
    -o-border-bottom-right-radius: 100px;
    -o-border-bottom-left-radius: 100px;
    top: 215px;
    left: 89px;
    z-index: 4;
}


/*左脸右脸的样式*/

.eye_left,
.eye_right {
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(194, 194, 194, 1);
}

.eye_left {
    width: 54px;
    height: 54px;
    top: 164px;
    left: 93px;
    z-index: 5;
}

.eye_right {
    width: 54px;
    height: 54px;
    top: 164px;
    left: 173px;
    z-index: 5;
}

.face_left {
    width: 120px;
    height: 120px;
    border-top: 0px solid rgba(1, 14, 13, 1);
    border-right: 0px solid rgba(1, 14, 13, 1);
    border-bottom: 0px solid rgba(1, 14, 13, 1);
    border-left: 0px solid rgba(1, 14, 13, 1);
    background-color: rgba(194, 194, 194, 1);
    transform: translate3d(81px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(24.1deg) scale3d(0.77, 0.86, 1);
    -webkit-transform: translate3d(81px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(24.1deg) scale3d(0.77, 0.86, 1);
    -moz-transform: translate3d(81px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(24.1deg) scale3d(0.77, 0.86, 1);
    -o-transform: translate3d(81px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(24.1deg) scale3d(0.77, 0.86, 1);
    -ms-transform: translate3d(81px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(24.1deg) scale3d(0.77, 0.86, 1);
    background-color: rgba(54, 54, 54, 1);
    top: 0;
    left: 0;
    z-index: 4;
}

.face_right {
    width: 120px;
    height: 120px;
    border-top: 0px solid rgba(1, 14, 13, 1);
    border-right: 0px solid rgba(1, 14, 13, 1);
    border-bottom: 0px solid rgba(1, 14, 13, 1);
    border-left: 0px solid rgba(1, 14, 13, 1);
    background-color: rgba(194, 194, 194, 1);
    transform: translate3d(124px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-24.1deg) scale3d(0.77, 0.86, 1);
    -webkit-transform: translate3d(124px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-24.1deg) scale3d(0.77, 0.86, 1);
    -ms-transform: translate3d(124px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-24.1deg) scale3d(0.77, 0.86, 1);
    -moz-transform: translate3d(124px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-24.1deg) scale3d(0.77, 0.86, 1);
    -ms-transform: translate3d(124px, 130px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-24.1deg) scale3d(0.77, 0.86, 1);
    background-color: rgba(54, 54, 54, 1);
    top: 0;
    left: 0;
    z-index: 4;
}

.brow_left {
    transform: translate3d(85px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.6deg) scale3d(0.96, 0.68, 1);
    -webkit-transform: translate3d(85px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.6deg) scale3d(0.96, 0.68, 1);
    -moz-transform: translate3d(85px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.6deg) scale3d(0.96, 0.68, 1);
    -o-transform: translate3d(85px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.6deg) scale3d(0.96, 0.68, 1);
    -ms-transform: translate3d(85px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(18.6deg) scale3d(0.96, 0.68, 1);
    width: 74px;
    height: 62px;
    border-top: 0px solid rgba(127, 127, 127, 1);
    border-right: 0px solid rgba(127, 127, 127, 1);
    border-bottom: 0px solid rgba(127, 127, 127, 1);
    border-left: 0px solid rgba(127, 127, 127, 1);
    z-index: 6;
    background-color: rgba(54, 54, 54, 1);
    top: 0;
    left: 0;
}

.brow_right {
    transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    -webkit-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    -ms-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    -moz-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    -o-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    -webkit-animation: animation 2s ease-in infinite;
    -ms-animation: animation 2s ease-in infinite;
    -o-animation: animation 2s ease-in infinite;
    -moz-animation: animation 2s ease-in infinite;
    animation: animation 2s ease-in infinite;
    width: 74px;
    height: 62px;
    border-top: 0px solid rgba(127, 127, 127, 1);
    border-right: 0px solid rgba(127, 127, 127, 1);
    border-bottom: 0px solid rgba(127, 127, 127, 1);
    border-left: 0px solid rgba(127, 127, 127, 1);
    z-index: 6;
    background-color: rgba(54, 54, 54, 1);
    top: 0;
    left: 0;
}


/*动画效果*/

@-webkit-keyframes animation {
    0% {
        -webkit-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
    50% {
        -webkit-transform: translate3d(143px, 140px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-26.4deg) scale3d(0.96, 0.68, 1);
    }
    100% {
        -webkit-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
}

@-moz-keyframes animation {
    0% {
        -moz-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
    50% {
        -moz-transform: translate3d(143px, 140px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-26.4deg) scale3d(0.96, 0.68, 1);
    }
    100% {
        -moz-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
}

@-o-keyframes animation {
    0% {
        -o-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
    50% {
        -o-transform: translate3d(143px, 140px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-26.4deg) scale3d(0.96, 0.68, 1);
    }
    100% {
        -o-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
}

@-ms-keyframes animation {
    0% {
        -ms-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
    50% {
        -ms-transform: translate3d(143px, 140px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-26.4deg) scale3d(0.96, 0.68, 1);
    }
    100% {
        -ms-transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
}

@keyframes animation {
    0% {
        transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
    50% {
        transform: translate3d(143px, 140px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-26.4deg) scale3d(0.96, 0.68, 1);
    }
    100% {
        transform: translate3d(161px, 146px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(-18.4deg) scale3d(0.96, 0.68, 1);
    }
}


/*蝙蝠*/

.back_mouse {
    width: 193px;
    height: 133px;
    -webkit-border-top-left-radius: 800px;
    -webkit-border-top-right-radius: 800px;
    -webkit-border-bottom-right-radius: 800px;
    -webkit-border-bottom-left-radius: 800px;
    -moz-border-top-left-radius: 800px;
    -moz-border-top-right-radius: 800px;
    -moz-border-bottom-right-radius: 800px;
    -moz-border-bottom-left-radius: 800px;
    -o-border-top-left-radius: 800px;
    -o-border-top-right-radius: 800px;
    -o-border-bottom-right-radius: 800px;
    -o-border-bottom-left-radius: 800px;
    -ms-border-top-left-radius: 800px;
    -ms-border-top-right-radius: 800px;
    -ms-border-bottom-right-radius: 800px;
    -ms-border-bottom-left-radius: 800px;
    border-top-right-radius: 800px;
    border-bottom-right-radius: 800px;
    border-bottom-left-radius: 800px;
    border-top-left-radius: 800px;
    background-color: rgba(51, 51, 51, 1);
    top: 379px;
    left: 64px;
}

.circle1,
.circle2,
.circle3,
.circle4 {
    -webkit-border-top-left-radius: 500px;
    -webkit-border-top-right-radius: 500px;
    -webkit-border-bottom-right-radius: 500px;
    -webkit-border-bottom-left-radius: 500px;
    -moz-border-top-left-radius: 500px;
    -moz-border-top-right-radius: 500px;
    -moz-border-bottom-right-radius: 500px;
    -moz-border-bottom-left-radius: 500px;
    -o-border-top-left-radius: 500px;
    -o-border-top-right-radius: 500px;
    -o-border-bottom-right-radius: 500px;
    -o-border-bottom-left-radius: 500px;
    -ms-border-top-left-radius: 500px;
    -ms-border-top-right-radius: 500px;
    -ms-border-bottom-right-radius: 500px;
    -ms-border-bottom-left-radius: 500px;
    border-top-right-radius: 500px;
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 500px;
    border-top-left-radius: 500px;
    background-color: rgba(255, 255, 255, 1);
}

.circle1 {
    width: 86px;
    height: 86px;
    left: 220px;
    top: 390px;
}

.circle2 {
    width: 122px;
    height: 122px;
    left: 154px;
    top: 420px;
}

.circle3 {
    width: 83px;
    height: 83px;
    background-color: rgba(255, 255, 255, 1);
    left: 17px;
    top: 389px;
}

.circle4 {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 1);
    left: 50px;
    top: 419px;
}

.ear {
    width: 30px;
    height: 32px;
    background-color: rgba(51, 51, 51, 1);
    top: 354px;
    left: 143px;
    top: 362px;
    left: 147px;
    z-index: 7;
}

.ear_square {
    transform: translate3d(142px, 328px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    -webkit-transform: translate3d(142px, 328px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    -moz-transform: translate3d(142px, 328px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    -o-transform: translate3d(142px, 328px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    -ms-transform: translate3d(142px, 328px, 0px) rotateX(0deg) rotateY(0deg) rotateZ(45deg);
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    top: 0;
    left: 0;
    z-index: 7
}
